# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
import pandas

In [6]:
document = ET.parse( './data/mondial_database.xml' )

In [7]:
#Question 1 - 10 countries with the lowest infant mortality rates

# Search for country name and its corresponding infant mortality
# ,a sub element of country.
mortality_rate_list = []
for element in document.findall(r'country'):
    mortality_rate_item_dict = {}
    for name_element in element.findall(r'./name'):
         mortality_rate_item_dict['Country'] = name_element.text 
    for mortality_element in element.findall(r'./infant_mortality'):
        mortality_rate_item_dict['InfantMortalityRate'] = float(mortality_element.text) 
    mortality_rate_list.append(mortality_rate_item_dict)

#Create dataframe from list for quick analysis of lowest infant mortality rate
pandas.DataFrame(mortality_rate_list).sort_values('InfantMortalityRate', ascending = True).head(10)

            Country  InfantMortalityRate
38           Monaco                 1.81
98            Japan                 2.13
117         Bermuda                 2.48
36           Norway                 2.48
106       Singapore                 2.53
37           Sweden                 2.60
10   Czech Republic                 2.63
78        Hong Kong                 2.73
79            Macao                 3.13
44          Iceland                 3.15

In [8]:
#Question 2: 10 cities with the largest population

city_population_list = []
#Begin seach and extraction for the county, city, and population counts
#for all data in xml. We'll create a dataframe once we've all relevant
#data in population list
for country in document.findall('country'):
    for name in country.findall('name'):
        #Cities exist as subcategories to country and country/province nodes
        for city in country.findall('city') or country.findall(r'province/city'):
            #XML may contain multiple population counts (per year) for a given city
            for population in city.findall('population'):
                #Create single row item for each city per year by population count
                population_dict = {
                    'Country': name.text
                    ,'CountryAbbrv': city.attrib.get('country')
                    ,'City': city.find('name').text
                    ,'PopulationYear': population.attrib.get('year')
                    ,'PopulationMeasured': population.attrib.get('measured')
                    ,'Population': int(population.text)
                }
                city_population_list.append(population_dict)
#Build dataframe with max census measurement years. Unique by Country and City
population_dataframe = pandas.DataFrame(city_population_list)
max_population_year_dataframe = population_dataframe.groupby(['Country', 'City'])[['PopulationYear']].max().reset_index()

#Top 10 city populations
population_dataframe.merge(max_population_year_dataframe).sort_values('Population', ascending = False).head(10)

,City,Country,CountryAbbrv,Population,PopulationMeasured,PopulationYear
1250,Shanghai,China,CN,22315474,census,2010
707,Istanbul,Turkey,TR,13710512,admin.,2012
1420,Mumbai,India,IND,12442373,census,2011
443,Moskva,Russia,R,11979529,estimate,2013
1249,Beijing,China,CN,11716620,census,2010
2592,São Paulo,Brazil,BR,11152344,census,2010
1251,Tianjin,China,CN,11090314,census,2010
974,Guangzhou,China,CN,11071424,census,2010
1466,Delhi,India,IND,11034555,census,2011
977,Shenzhen,China,CN,10358381,census,2010

In [9]:
#3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

ethnic_population_list = []
#Extract ethinic population counts per country per year from XML
for country in document.findall('country'):
    for name in country.findall('name'): 
        for ethnic_group in country.findall('ethnicgroup'):
            for population in country.findall('population'):
                ethnic_population_dict = {
                    'Country': name.text
                    ,'EthnicGroup': ethnic_group.text
                    ,'EthnicGroupPercentage': float(ethnic_group.attrib.get('percentage'))
                    ,'TotalCountryPopulation': int(population.text)
                    ,'PopulationYear':int(population.attrib.get('year'))
                }
                ethnic_population_list.append(ethnic_population_dict)

#Build ethnic group most recent estimated population dataframe from extracted list. Unique on Country and ethnic group 
ethnic_population_df = pandas.DataFrame(ethnic_population_list)
most_recent_pop_dates_df = ethnic_population_df.groupby(['Country'])[['PopulationYear']].max().reset_index()
most_recent_ethnic_pop_df = ethnic_population_df.merge(most_recent_pop_dates_df)

#Ethinc group population comes with a percentage of country population with which we can calculate total ethinic population across all countries
most_recent_ethnic_pop_df.loc[:, 'EthinicGroupCountryPopulation'] = most_recent_ethnic_pop_df['EthnicGroupPercentage']/100 * most_recent_ethnic_pop_df['TotalCountryPopulation'] 
total_ethnic_group_population = most_recent_ethnic_pop_df.groupby(['EthnicGroup'])[['EthinicGroupCountryPopulation']].sum().reset_index()
total_ethnic_group_population.sort_values('EthinicGroupCountryPopulation', ascending = False).head(10)

     EthnicGroup  EthinicGroupCountryPopulation
113  Han Chinese                   1.245059e+09
120   Indo-Aryan                   8.718156e+08
89      European                   4.948722e+08
2        African                   3.183251e+08
77     Dravidian                   3.027137e+08
176      Mestizo                   1.577344e+08
42       Bengali                   1.467769e+08
217      Russian                   1.318570e+08
128     Japanese                   1.265342e+08
163        Malay                   1.219936e+08

In [10]:
#4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

#Dictionary of relevant features and their corresponding size metrics
country_features_dict = {
    'river':'length'
    ,'lake':'area'
    ,'airport':'elevation'
}

#Extract all feature and metric information from XML
country_features_metric_list = []
for feature,metric in country_features_dict.items():
    for item in document.findall(feature):
        feature_dict = {
            'Feature': item.tag
            ,'Country': item.attrib.get('country')
            ,'Name': item.findtext('name')
            ,'MetricValue': item.findtext(metric)
        }
        country_features_metric_list.append(feature_dict)

##Check if we're extracting all feature items
#for num, item in enumerate(document.findall('lake')):
#    num
#print(num+1)

#Build dataframe and aggregate for max items
country_feature_df = pandas.DataFrame(country_features_metric_list)
max_country_feature_df = country_feature_df[
    pandas.notnull(country_feature_df['MetricValue'])
].groupby('Feature').max().reset_index().rename(columns = {'MetricValue': 'MaxMetric'})
max_country_feature_df

   Feature       Country MaxMetric               Name
0  airport            ZW       995  Östersund Airport
1     lake  ZRE Z BI EAT       981          Zurichsee
2    river         ZRE Z       992            Zambezi